---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { getPopularArticles } from '../../shared/endpoints.mjs';

const resp = await getPopularArticles();
const json = await resp.json();
const articles = json.list;
---
<BaseLayout title="Popular Articles">
  <main>
    <header>
      <h1>Trending Articles</h1>
    </header>
    <ul>
      {articles.map(({ bid, aid, title }) => 
        <li><a href="{`/r/${bid}/${aid}`}">{title}</a></li>
      )}
    </ul>
  </main>
</BaseLayout>
