---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { getPopularBoards } from '../../shared/endpoints.mjs';

const resp = await getPopularBoards();
const json = await resp.json();
const boards = json.list;
---
<BaseLayout title="Popular Boards">
  <main>
    <header>
      <h1>Trending Boards</h1>
    </header>
    <ul>
      {boards.map(({ bid, title }) => (
        <li><a href="{`/r/${bid}`}">{title}</a></li>
      ))}
    </ul>
  </main>
</BaseLayout>
