---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { getPopularBoards } from '../../shared/endpoints.mjs';

const resp = await getPopularBoards();
const json = await resp.json();
const { list: items } = json;
---
<BaseLayout title="Popular Boards">
  <main>
    <header>
      <h1>Trending Boards</h1>
    </header>
    <ul>
    {items.map(item => (
      <li><a href="{`/r/${item.bid}`}">{item.title}</a></li>
    ))}
    </ul>
  </main>
</BaseLayout>
