---
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/trending/articles">Popular Articles</a></li>
        <li><a href="/trending/boards">Trending Boards</a></li>
        <li><a href="https://github.com/jihchi/demo-pttbbs-astro">Github</a></li>
      </ul>
    </nav>
    <slot />
  </body>
</html>
